---
http_interactions:
- request:
    method: get
    uri: https://api.rentify.com/v2/properties.json?search%5Ball%5D=true&search%5Barea%5D=shoreditch%20london%20n1%20uk&search%5Bbedrooms%5D=2&search%5Blat%5D=51.52849&search%5Blng%5D=-0.08472800000004099
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1717ca9a23e0088c0dacaf69eb84d52a"
      X-Jobs:
      - We are recruiting! Email jobs@rentify.com and say hi :)
    body:
      encoding: UTF-8
      string: '{"properties":[{"uid":"932V","identifier":5969,"bed":2,"property_type_name":"Flat","lat":51.49365,"lng":-0.103726,"rent":1795.0,"pic":"https://i.embed.ly/1/display/crop?height=300&key=63af78e9d8b94864af165d41eb2760f6&url=https%3A%2F%2Frentify-com.s3.amazonaws.com%2Fuploads%2Fproduction%2Fphoto%2Fimage%2F1471280433-12734-4779%2Fimage1.jpg&width=553","area":"SE11","path":"/rental-properties-in-london/spacious-2-bedroom-apartment-in-se11-4","address":"Brook
        Drive, London","advert_state":"published","published_at":"2016-08-19T20:10:49.339+01:00","completed_at":"2016-08-19T20:10:49.274+01:00","source":"rentify","outcode":"SE","slug":"spacious-2-bedroom-apartment-in-se11-4","updated_at":"2016-08-19T20:10:49.356+01:00","vip":false,"under_offer":false},{"uid":"8KJ7","identifier":9122,"bed":2,"property_type_name":"Flat","lat":51.554223,"lng":-0.087085,"rent":1645.0,"pic":"https://i.embed.ly/1/display/crop?height=300&key=63af78e9d8b94864af165d41eb2760f6&url=https%3A%2F%2Frentify-com.s3.amazonaws.com%2Fuploads%2Fproduction%2Fphoto%2Fimage%2F1453972719-31099-4257%2FExterior.jpg&width=553","area":"N16","path":"/rental-properties-in-london/fabulous-2-bedroom-apartment-in-n16-5","address":"Aden
        Grove, London","advert_state":"published"[...]
- request:
    method: get
    uri: https://api.rentify.com/v2/properties.json?search%5Bbedrooms%5D=2&search%5Barea%5D=shoreditch+london+n1+uk&search%5Blat%5D=51.52849&search%5Blng%5D=-0.08472800000004099&search%5Ball%5D=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1717ca9a23e0088c0dacaf69eb84d52a"
      x-jobs:
      - We are recruiting! Email jobs@rentify.com and say hi :)
    body:
      encoding: UTF-8
      string: '{"properties":[{"uid":"932V","identifier":5969,"bed":2,"property_type_name":"Flat","lat":51.49365,"lng":-0.103726,"rent":1795.0,"pic":"https://i.embed.ly/1/display/crop?height=300&key=63af78e9d8b94864af165d41eb2760f6&url=https%3A%2F%2Frentify-com.s3.amazonaws.com%2Fuploads%2Fproduction%2Fphoto%2Fimage%2F1471280433-12734-4779%2Fimage1.jpg&width=553","area":"SE11","path":"/rental-propert[...]
